<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'app01/Imgs/logo.ico' %}">
    <title>项目主页</title>
</head>
<body>
<h style="color: #34ce57">欢迎光临</h>
<br><hr><br>
<div style='color:#6f42c1;background:#efa2a9;width:300px'>
    <span>滴滴香浓,意犹未尽,好东西要与好朋友分享</span>
    <br>
    <span>浓浓情意，丝丝柔情 </span>
</div>
<br>
<span style="color: #34ce57">
接下来，你可以进行进行以下操作:
</span>
<br>

    <a href='/index/'><div style="color: #ffffff;background: #007bff;width: 300px;text-align: center"><span style="color: #ffffff">点击测试支付</span></div></a>

<br>

    <a href='/mq/'><div style="color: #ffffff;background: #007bff;width: 300px;text-align: center"><span style="color: #ffffff">进入mqtt客户端</span></div></a>

</body>
</html>